body {
    background-color: #000;
}

.body-white {
    background-color: #fff;
}

.navbar-dark {
    background-color: rgba(0,0,0,.7);
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: red !important;
}
.nav-item.active .nav-link {
    color: red !important;
}
.info-actions {
    width: 500px;
    position: relative;
    z-index: 2;
}
.nav-pills {
    width: 100%;
    position: relative;
    z-index: 2;
    align-self: flex-end;
    display: flex;
    justify-content: center;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: transparent;
    color: #fff;
    opacity: 1;
    border-bottom: 3px solid red;
}
.nav-pills .nav-link {
    opacity: 0.8;
    font-weight: bold;
    text-transform: uppercase;
}
.nav-pills .nav-link:hover {
    color: #fff !important;
    opacity: 1;
}

.info-actions .headline {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 5px #000;
}
.info-actions p {
    text-shadow: 5px 5px 5px #000;
}
.safe-area {
    width: 100%;
    height: 70vh;
    position: relative;
    overflow: hidden;
}
.safe-area .container {
    max-width: 1300px;
    height: 70vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0);
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(0%, rgba(0,0,0,0)), color-stop(90%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    z-index: 1;
    transition: opacity 1s;
}

.card-thumb {
    width: 250px;
    height: 150px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
.card-thumb-infos {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    transition: opacity .3s;
    color: #fff;
    font-size: 12px;
    padding: 10px;  
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.82) 88%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(32%, rgba(0,0,0,0)), color-stop(88%, rgba(0,0,0,0.82)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.82) 88%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.82) 88%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.82) 88%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 32%, rgba(0,0,0,0.82) 88%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.player {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-thumb:hover {
    cursor: pointer;
}

.card-thumb:hover .card-thumb-infos {
    opacity: 1;
}

.card-thumb-title {
    font-size: 15px;
    text-transform: capitalize;
}
.ranking {
    color: #a1dd70;
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
}
.age {
    border: 1px solid #888;
    padding: 4px;
    margin-right: 5px;
    background-color: rgba(0,0,0,.2);
}
.tags {
    font-size: 10px;
}

.box-showcase {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.carousel {
	position: relative;
    width: 1300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.inner {
	position: relative;
	white-space: nowrap;
	font-size: 0;
    left:  0px;
    display: flex;
}

.item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 250px;
    white-space: normal;
}
.headline {
    font-size: 25px;
    color: #fff;
}


.navigation {
    border:0;
    width: 50px;
    height: 150px;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    font-size:30px;
    position: absolute;
    cursor: pointer;
    top:84px;
}
.navigation.left {
    left:15px;
    
}
.navigation.right {
    right:15px;
}
.navigation:focus {
    outline: none;
}

.showcases {
    width: 100%;
    position: relative;
}

.img-featured {
    position: absolute;
    max-width: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.container {
    max-width: 1300px;
}
.container.full {
    max-width: 1350px;
    padding-top: 100px;
}

.container.full .headline, 
.container.full .dropdown {
    display: inline-block;
    margin-right: 20px;
}
.container.conta {
    max-width: 1140px;
    margin-top: 100px;
}

.footer {
    width: 100%;
}
.footer .container {
    max-width: 1140px;
}
.footer-link {
    color: #666;
    margin-bottom: 10px;
}
.footer-link:hover {
    color: red;
}


.dropdown {
    position: relative;
}

.btn-drop,
.btn-drop:hover {
    border-color:#fff;
    font-size: 12px;    
}


.dropdown-content {
    display: none;
    position: absolute;
    width: 160px;
    background-color:#333;
    flex-direction: column;
    z-index: 5;
    padding: 5px;
}

.dropdown-content a {
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.arrow-down {
    transform: rotate(90deg);
    display: inline-block;
}

.box-loading {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1090;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .5s;
}

.back {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    position: fixed;
    left: 30px;
    top: 30px;
    z-index: 10;
}
.back:hover {
    color: red;
    text-decoration: none;
}

.fontsize {
    font-size: 12px;
}

.carousel-eps {
    height: auto;
}
.search {
    width: 30px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    margin-right: 10px;
    transition: width .3s;
}

.btn-search {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    display: inline-block;
}
.btn-search:focus {
    outline: none;
}

.form-search {
    width: 0;
    display: inline-block;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    border-radius: 0;
    color: #fff;
    transition: width .3s;
    
}

.form-search:focus,
.form-search:active {
    color: #fff;
    outline: none;
    box-shadow: none;
    background-color: transparent;
}

.search.active {
    width: 300px;
    border-color: #fff;
}
.search.active .form-search {
    width: 100%;
}

.text-black {
    color: #000;
}
.v100 {
    height:  100vh;
}

.form-login {
    background-color: rgba(0,0,0,.9);
    padding: 100px 50px;
}

.form-login .form-control {
    background-color: #444;
    color: #fff;
    border: 0;
    border-radius: 0;
}

.body-login {
    background: url('../images/bg-login.jpg') no-repeat center top;
}

@media screen and (max-width: 950px) {
    .carousel {
		position: relative;
		overflow-x: hidden;
		width: 1040px;
	}
}
@media screen and (max-width: 655px) {
    .carousel {
		position: relative;
		overflow-x: hidden;
		width: 260px;
    }
    
}

@media (min-width: 1600px) {
    .carousel,
    .container,
    .safe-area .container {
        max-width: 1400px;
    }
    .footer .container {
        max-width: 1300px;
    }
}

@media (min-width: 1900px) {
    .carousel,
    .container,
    .safe-area .container {
        max-width: 1800px;
    }
    .footer .container {
        max-width: 1700px;
    }
}
