{% extends 'admin/shared/layout.html' %}

{% block content %}

<div class="col-md-12">
    <h1 class="float-left">Categoria</h1>
    <a class="float-right btn btn-outline-secondary mt-1" href="/admin/categories">Voltar</a>
    <div class="clearfix"></div>
    <hr />
</div>

<div class="col-md-12">

                        {% if errors %}
                            <div class="alert alert-danger">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </div>
                        {% endif %}

    <form method="post" encType="multipart/form-data">
    <input type="hidden" name="_id" value="{{ category._id }}" />
    <div class="form-group">
        <label for="name">Nome da categoria</label>
        <input type="text" class="form-control" name="name" value="{{ category.name }}">
    </div>
  
    <button type="submit" class="btn btn-primary">Gravar</button>
    </form>
    </div>
</div>
{% endblock%}

