{% extends 'admin/shared/layout.html' %}

{% block content %}

<div class="col-md-12 mb-3">
    <h1 class="float-left">{{ 'Filmes' if type == TitleType.MOVIE else 'Series' }}</h1>
    <a class="float-right btn btn-outline-primary mt-1" href="/admin/title/?type={{ type }}">Cadastrar novo</a>
</div>

<div class="col-md-12">
    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Título</th>
            <th scope="col">Categoria</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>

    {% for title in titles %}
        <tr>
            <td>{{ title.title }}</td>
            <td>{{ title.category.name }}</td>
            <td>
                <a href="/admin/title/{{ title._id }}"><i class="far fa-edit"></i></a> 
                <a href="/admin/title/remove/{{ title._id }}" onclick="return confirm('Tem certeza que deseja remover este item?')"><i class="fas fa-trash"></i></a>
                {% if not title.isFixedOnHome %}
                    <a href="/admin/title/setFixedOnHome?id={{ title._id }}">Fixar na home</a> 
                {% endif %}

            </td>
        </tr>
    {% endfor %}

    </tbody>
    </table>
</div>

{% endblock%}

{% block scripts %}
    <script>
        $(document).ready( function () {
            $('table').DataTable();
        } );
    </script>
{% endblock %}}